{% extends "base.html" %}
{% block title %}
  <title>Todo 등록</title>
{% endblock title %}
{% block content %}
  <div class="container">
    <h1>ToDo Create</h1>
    <form action="" method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="title" class="form-label">할 일</label>
        <input type="text" class="form-control" id="title" name="title" value="{{todo.title}}"/>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">상세 내용</label>
        <textarea class="form-control" id="description" rows="3" name="description">{{todo.description}}</textarea>
      </div>
      <div class="mb-3">
        <label class="form-check-label" for="important">중요여부</label>
        <input type="checkbox" class="form-check-input" id="important" name="important"/>
      </div>

      <a href="{% url "todo_list" %}" class="btn btn-outline-secondary">목록</a>
      <button type="submit" class="btn btn-dark">작성</button>
    </form>
  </div>
{% endblock content %}
