{% extends "base.html" %}
{% block title %}
  <title>PHOTO 등록</title>
{% endblock title %}
{% block content %}
  <form action="" method="post">
    {% csrf_token %}
    <div class="mb-3 row">
      <label for="tile" class="col-sm-2 col-form-lable">title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" name="title">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="author" class="col-sm-2 col-form-lable">author</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="author" name="author">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="image" class="col-sm-2 col-form-lable">image</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="image" name="image">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="description" class="col-sm-2 col-form-lable">description</label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control" id="description" name="description"></textarea>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="prive" class="col-sm-2 col-form-lable">prive</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="prive" name="prive">
      </div>
    </div>
    <div>
      <a href="{% url "photo_list" %}" class="btn btn-dark">목록</a>
      <button type="submit" class="btn btn-dark">작성</button>
    </div>
  </form>
{% endblock content %}
